<header class="header grid-container">
  <div class="header-content grid-content">
    <h1 class="logo">Logo</h1>
    <nav class="nav">
      <a
        routerLink=""
        routerLinkActive="nav-item__active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-item"
        >Home</a
      >
      <a routerLink="about" routerLinkActive="nav-item__active" class="nav-item"
        >About</a
      >
      <a
        routerLink="products"
        [queryParams]="{ page: 1 }"
        [routerLinkActiveOptions]="{
          queryParams: 'ignored',
          matrixParams: 'exact',
          paths: 'exact',
          fragment: 'exact',
        }"
        routerLinkActive="nav-item__active"
        class="nav-item"
        >Products</a
      >
    </nav>
    <div class="cart">
      <button class="cart-btn">
        <img src="assets/cart.svg" alt="Cart" />
      </button>
      <div class="cart-count">
        <p>{{ this.cartService.productsInCartSig().length }}</p>
      </div>
      <!-- <ShopCart /> -->
    </div>
  </div>
</header>
