.footer {
  background-color: var(--clr-dark-brown);
  color: var(--clr-soft-gray);
  padding: var(--gap-m) 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-m);
  margin-bottom: var(--gap-m);
}

.social-link {
  width: 24px;
  height: 24px;
  transition: all 200ms ease-in-out;

  &:hover {
    scale: 1.25;
  }

  & img {
    width: 100%;
    height: 100%;
  }
}

.footer-text {
  font-size: 14px;
  color: var(--clr-soft-gray);
  text-align: center;
}
