<div class="products-list">
  <div
    class="product-card"
    *ngFor="let product of this.productService.productsSig()?.products"
  >
    <img
      [src]="product.images[0]"
      [alt]="product.title"
      class="product-card_img"
    />
    <div
      class="product-card_title"
      (mouseenter)="this.onTitleMouseEnter(product.id)"
      (mouseleave)="this.onTitleMouseLeave()"
    >
      <p class="short-text">
        {{ product.title }}
      </p>
      <p class="full-text" *ngIf="isFullTitleShow === product.id">
        {{ product.title }}
      </p>
    </div>
    <div class="product-card_elements-group">
      <p class="product-card_price"><span>Price:</span> {{ product.price }}$</p>
      <app-product-rating [rating]="product.rating" />
    </div>

    <div class="product-card_elements-group">
      <app-cart-button
        [product]="product"
        [isProductInCart]="this.cartService.checkProductInCart(product.id)"
      />
      <a [routerLink]="['/product', product.id]" class="product-card_more-btn">
        More
      </a>
    </div>
  </div>
</div>
