.pagination {
  display: flex;
  justify-content: center;
  gap: var(--gap-m);
  margin-top: 20px;
}

.pagination-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
}

.pagination-dots {
  font-weight: 700;
  padding: 0 4px;
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 28px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: normal;
  color: var(--clr-dark-gray);
  border-radius: 4px;
  min-width: 24px;
  height: 24px;
  padding: 0 2px;
  border: 2px solid var(--clr-gray);
  background-color: var(--clr-light-brown);
  transition: all 300ms ease-in-out;

  &:hover {
    color: #ffffff;
    background-color: var(--clr-blue);
  }
}

.pagination-item__active {
  pointer-events: none;
  background-color: var(--clr-soft-gray);
  border-color: var(--clr-light-gray);
  color: var(--clr-light-gray);
}
