<div class="pagination" *ngIf="this.paginationTemplateSig().length">
  <!-- <p>{{ this.totalProducts }}</p> -->
  <!-- <PaginationButton
      variant="prev"
      activePageNumber={activePageNumber}
      pagesCount={pagesCount}
    /> -->
  <div class="pagination-inner">
    <ng-container *ngFor="let item of this.paginationTemplateSig()">
      <p class="pagination-dots" *ngIf="item === '...'; else elseBlock">...</p>
      <ng-template #elseBlock>
        <a
          [routerLink]="['/products']"
          [queryParams]="{ page: item }"
          routerLinkActive="pagination-item__active"
          class="pagination-item"
        >
          {{ item }}
          <!-- <button
            [disabled]="this.activePage === item"
            class=""
          >
            
          </button> -->
        </a>
      </ng-template>
    </ng-container>
  </div>
  <!-- <PaginationButton
      variant="next"
      activePageNumber={activePageNumber}
      pagesCount={pagesCount}
    /> -->
</div>
