.pagination-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: normal;
  border-radius: 4px;
  color: var(--clr-dark-gray);
  border: 2px solid var(--clr-gray);
  background-color: var(--clr-light-brown);

  &:hover {
    color: #ffffff;
    background-color: var(--clr-blue);
  }
}

.pagination-btn__disabled {
  pointer-events: none;
  background-color: var(--clr-soft-gray);
  border-color: var(--clr-light-gray);
  color: var(--clr-light-gray);
}
